# Python
*.pyc
__pycache__/
venv/
env/
*.env

# React.js
node_modules/
build/
dist/

# Next.js
.next/
out/

# Django
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.swo
*.log
*.pid
*.coverage
htmlcov/
.coverage
.coverage.*
.cache/
.pytest_cache/
local_settings.py
db.sqlite3
db.sqlite3-journal